.l-icon {
    margin-right: 12px;
}

.l-icon-user {
    color: #bd992f;
}
.l-icon-pwd {
    color: #41a5bd;
}

#bind-container {
    text-align: center;
}
#container-names {
}
.btn_name {
}
.sm {
    color: grey;
    font-size: 0.8em;
}